/bin/
/db.prop
/opendata.log
/tmp/
/db.prop.esercizio
/db.prop.gauss
/fondi-speciali.xml  
/fondi-speciali.zip
/opendata.zip
/patrimonio.xml
/patrimonio.zip
/territorio.csv
/territorio.zip
/tipologie.csv
/tipologie.zip
/contatti.xml
/contatti.zip
